@import "../../variables.scss";

.Board {
  grid-area: board;
  margin: auto;
}

.Board__row {
  display: flex;
}

.Square {
  width: 3vw;
  height: 3vw;
  margin: 0.3vw;
  font-size: 1.5vw;
  text-transform: uppercase;
  background-color: white;
  border: rgba(128, 128, 128, 0.705) 0.1vw solid;
  color: transparent;
  transition: opacity 2s;
}

.Square.pending {
  color: black;
  border: rgb(128, 128, 128) 0.1vw solid;
  background-color: $pendingMatchBackgroundColor;
}

.Square.exact {
  background-color: $exactMatchBackgroundColor;
  color: white;
  border: rgba(128, 128, 128, 0) 0.1vw solid;
}

.Square.almost {
  background-color: $almostMatchBackgroundColor;
  color: white;
  border: rgba(128, 128, 128, 0) 0.1vw solid;
}

.Square.no-match {
  background-color: $noMatchBackgroundColor;
  // background-color: rgb(107, 107, 107);
  color: $noMatchColor;
  border: rgba(128, 128, 128, 0) 0.1vw solid;
}

@keyframes fadeIn {
  from {
    opacity: 0.25;
  }

  to {
    opacity: 1; // edited
  }
}

// added via JSX
// animations
// per animate.css library:
@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
    opacity: 1; // edited
  }
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

@keyframes loading {
  from {
    animation-timing-function: ease-in;
    opacity: 0.25;
  }

  40% {
    opacity: 1;
    animation-timing-function: ease-in;
  }

  60% {
    opacity: 0.25;
  }

  80% {
    opacity: 0.5;
  }

  to {
    opacity: 0.25;
  }
}

// fro css animate library, source code:
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
