:root {
  --multiplier: 1;
}

body {
  font-family: monospace;
}

.App {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 4fr auto 1fr auto 14fr 1fr;
  grid-template-areas:
    "header header header"
    ". board ."
    " . . ."
    ". keys ."
    ". . . "
    "footer footer footer";
}

@media only screen and (min-width: 800px) {
  .App {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr auto 4fr;
    grid-template-areas:
      "header header header"
      ". board ."
      " . . ."
      ". keys ."
      ". . .";
  }
}

header {
  grid-area: header;
  font-size: 0.95vw;
  color: gray;
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}

footer {
  grid-area: footer;
  padding: 2vw;
  color: rgb(94, 66, 94);
  font-size: 1.5vw;
}
