// colors:
$exactMatchBackgroundColor: rgb(0, 135, 16);
$almostMatchBackgroundColor: rgb(78, 111, 247);
$noMatchBackgroundColor: rgb(99, 99, 99);
$pendingMatchBackgroundColor: white;
$noMatchColor: rgb(213, 211, 211);
